.banner .row {
    justify-content: center;
    align-items: center;
}
.banner {
    height: 490px;
}

.banner .container-fluid, 
.banner .row, 
.banner .col{
    height:100%;
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 575px) {
    .banner {
        padding: 0;
    }
}