.swiper-pagination {
    bottom: 0;
    padding-bottom: 10px;
}
.swiper-wrapper {
    padding-inline-start: 0;
}
.swiper-slide {
    margin: 0 auto;
}
.swiper-container-thumbs .swiper-slide {
    width: 120px!important;
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-prev {
    position: absolute!important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left:43%;
}
.swiper-button-prev, .swiper-button-next {
    bottom: 0!important;
    top:auto!important;
    background-color: white!important;
    color: #f05a35;
    padding: 10px!important;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    font-size: 18px;
    font-weight: bold;
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 18px;
    font-weight: bold;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 40%;
    left: auto;
}

.image-swiper {
    display: flex;
    height: 100%;
}
#thumbs .swiper-wrapper {
    display: flex!important;
    flex-direction: column!important;
    transform: none !important;
    justify-content: center;
}
.swiper-container#thumbs .swiper-slide  {
    height: fit-content!important;
}
#main .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%!important;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
    opacity: 1!important;
    cursor: auto;
    pointer-events: none;
}

/* Media queries */
@media screen and (max-width: 575px) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 33%;
    }
}